/*-Global----------------------------------*/


/*Resetando padrões*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #ececec;
    font-family: 'Poppins', sans-serif;
    font-size: 1em;
}

a {
    text-decoration: none;
    color: #f7b600;
}

hr {
    opacity: 0.2;
}

/*-Header----------------------------------*/

header {
    background-color: #f7b600;
    color: #FFFFFF;
    height: 160px;
    text-align: center;
}

#logo {
    padding: 20px 0 10px 0;
    font-size: 3em;
}

#logo span {
    color: #4e4e4e;
}


/*-Nav-------------------------------------*/
nav {
    font-weight: 700;
}

nav a {
    color: #FFFFFF;
    padding: 8px 12px;
}

nav a:hover {
    background-color: #FFFFFF;
    border-radius: 0.25rem;
    color: #f7b600;
}


/*-Main------------------------------------*/

main {
    margin: 0 auto;
    width: min(90vw, 920px);
}

#content {
    float: left;
    margin: 15px 0;
    width: 680px;
}

.post {
    background-color: #FFFFFF;
    border-radius: 0.25rem;
    margin-bottom: 10px;
    padding: 20px;
}

.post h2 {
    color: #f7b600;
    font-size: 1.8rem;
    font-weight: 700;
    margin: 0;
}

.post span {
    border-bottom: 1px solid #f4f4f4;
    display: block;
    font-size: 0.8rem;
    margin-bottom: 5px;
    padding-bottom: 5px;
}

.post img {
    margin-top: 20px;
    margin-bottom: 10px;
}

#lateral-content {
    border-radius: 0.25rem;
    float: right;
    margin: 10px 0;
    padding: 5px;
    width: 230px;
}

#recent-posts, #categories {
    background-color: #FFFFFF;
    border-radius: 0.25rem;
    margin-bottom: 20px;
    padding: 10px;
    font-size: 0.9rem;
    padding: 5px;
}

#recent-posts h3, #categories h3 {
    background-color: #CCCCCC;
    color: #565656;
    padding: 5px;
}

.recent-post {
    margin: 10px 0;
}

#categories a {
    display: block;
    margin: 2px 0;
}


/*-Footer----------------------------------*/

footer {
    background-color: #CCCCCC;
    clear: both;
    padding: 15px;
    text-align: center;
}